@model myfinance_web_dotnet.Models.TransacaoModel

@{
    ViewData["Title"] = "Registrar Transação Financeira";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form asp-controller="Transacao" asp-action="Cadastrar" method="post">
        <input type="hidden" asp-for="Id" /><br>

        <div class="form-group">
            <label>Data: </label><br>
            <input type="date" class="form-control" asp-for="Data">
        </div>

        <div>
            <label>Valor: </label><br>
            <input type="text" class="form-control" asp-for="Valor" step="0.01">
        </div>

        <div>
            <label>Plano de Conta: </label><br>
            @Html.DropDownListFor(m => m.PlanoContaId, Model.ListaPlanoContas, new { @class="form-select" })
        </div>

        <div>
            <label>Histórico: </label><br>
            <input type="text" class="form-control" asp-for="Historico" step="0.01">
        </div>

        <br><br>
        
        @* <label>Descrição:</label><br>
        <input type="text" asp-for="Transacao" /><br> *@

        @* <br>
        <label>Tipo:</label>
        <label>@Html.RadioButtonFor(m => m.Tipo, "D")Despesa</label>
        <label>@Html.RadioButtonFor(m => m.Tipo, "R")Receita</label>
        
        <br><br> *@
        <button type="submit" class="btn btn-block btn-success">Registrar</button>
    </form>
</div>